{% load static %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
        <!-- <p>Volcano Hazard Capstone Team</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'assets/img/about-2.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3> -->
          <!-- <p class="fst-italic">
            Try not to become a man of success, but rather try to become a man of value <br>
            - Albert Einstein
          </p> -->
          <!-- <ul>
            <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul> -->
          <p>
            Dengan jumlah gunung berapi aktif sekitar 127, Indonesia mempunyai kemungkinan besar risiko terdampak bencana gunung berapi. <br> <br>
            Terdapat salah satu gunung berapi yang letaknya berada di perbatasan Provinsi Jawa Tengah dan Daerah Istimewa Yogyakarta, yaitu Gunung Merapi. Gunung Merapi termasuk ke dalam nominasi gunung teraktif di Indonesia berdasarkan catatan aktivitas vulkaniknya. Beberapa bulan ini, Gunung Merapi mulai mengeluarkan aktivitasnya meskipun masih di tahap aman. Namun hal ini tetap menjadi kekhawatiran bersama mengingat pada tahun 2010 lalu terjadi letusan  yang menimbulkan banyak korban jiwa. <br><br>
            Oleh karena itu, untuk meminimalisir akibat dari bencana Gunung Merapi kami mengembangkan sebuah website sistem informasi sebagai bentuk media informasi dan edukasi tentang persebaran lava, lahar, dan piroklastik. <br> <br>
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->