<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><img src="../../static/assets/img/lava.png" alt=""></div>
            <h4 class="title"><a href="">Persebaran Lava</a></h4>
            <p class="description">Menghitung pemetaan persebaran Lava berdasarkan volume dan viskositas lava</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><img src="../../static/assets/img/lahar.png" alt=""></div>
            <h4 class="title"><a href="">Persebaran Lahar</a></h4>
            <p class="description">Melihat persebaran lahar berdasarkan volume yang dipilih pada peta 2D dan juga persebaran lahar pada data DEM (Digital Elevation Model).</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><img src="../../static/assets/img/piroklastik.png" alt=""></div>
            <h4 class="title"><a href="">Persebaran Piroklastik</a></h4>
            <p class="description">Menghitung persebaran piroklastik berdasarkan data yang diinput untuk memetakan persebaran lahar.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->